In [15]:
from numpy import *
import cmath
from random import randrange
import pandas as pd
import time
from IPython.display import clear_output

In [16]:
a = 1
b = 1
one = array([[int(0)], [int(1)]])
zero = array([[int(1)], [int(0)]])
psi = a*zero + b*one

psi3 = kron((kron(psi,zero)), zero)
psi3

array([[1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0]])

In [17]:
right = (CNOT13.dot(CNOT12)).dot(psi3)

In [18]:
CNOT13 = array([[1,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0],[0,0,1,0,0,0,0,0],[0,0,0,1,0,0,0,0],[0,0,0,0,0,1,0,0],[0,0,0,0,1,0,0,0],[0,0,0,0,0,0,0,1],[0,0,0,0,0,0,1,0]])
CNOT12 = array([[1,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0],[0,0,1,0,0,0,0,0],[0,0,0,1,0,0,0,0],[0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,1],[0,0,0,0,1,0,0,0],[0,0,0,0,0,1,0,0]])
X = array([[0 , 1], [1, 0]])
Z = array([[1,0],[0,-1]])
Y = array([[0 , -1j], [1j, 0]])
Iden = array([[1 , 0], [0, 1]])
Iden3 = array([[1,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0],[0,0,1,0,0,0,0,0],[0,0,0,1,0,0,0,0],[0,0,0,0,1,0,0,0],[0,0,0,0,0,1,0,0],[0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,1]])
X1 = kron(kron(X, Iden), Iden)
X2 = kron(kron(Iden, X), Iden)
X3 = kron(kron(Iden, Iden), X)
Z1 = kron(kron(Z, Iden), Iden)
Z2 = kron(kron(Iden, Z), Iden)
Z3 = kron(kron(Iden, Iden), Z)
Y1 = kron(kron(Y, Iden), Iden)
Y2 = kron(kron(Iden, Y), Iden)
Y3 = kron(kron(Iden, Iden), Y)

In [19]:
list2 = [Iden3,CNOT13,CNOT12,X1,X2,X3,Z1,Z2,Z3,Y1,Y2,Y3]

In [20]:
probability((CNOT13.dot(psi3)), right)

0.75

In [21]:
def probability(guess, right):
    summ = 0
    for i in range(0,8):
        diff = (guess[i] - right[i])
        summ+= abs(diff)
    score = 1 - (summ)/8
    return(float(score))

Dataframe try

- First set up the dataframe with the correct columns and some possible states

In [22]:
Q_table = pd.DataFrame()

In [23]:

for m in range(0,len(list2)):
    gate = m
    new = (list2[m].dot(psi3))
    Q = pd.DataFrame({'string' : str(psi3), 'gate':gate, 'new': str(new), 'Q':0}, index=[0])
    Q_table = Q_table.append(Q)

It's easier to call upon cells in string format rather than array format

In [24]:

Q_tablestr = Q_table.drop_duplicates()
Q_tablestr = Q_tablestr.reset_index(drop=True)

In [25]:
Q_tablestr

,string,gate,new,Q
0,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],0,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],0
1,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],1,[[1]\n [0]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]],0
2,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],2,[[1]\n [0]\n [0]\n [0]\n [0]\n [0]\n [1]\n [0]],0
3,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],3,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],0
4,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],4,[[0]\n [0]\n [1]\n [0]\n [0]\n [0]\n [1]\n [0]],0
5,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],5,[[0]\n [1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]],0
6,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],6,[[ 1]\n [ 0]\n [ 0]\n [ 0]\n [-1]\n [ 0]\n [ 0...,0
7,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],7,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],0
8,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],8,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],0
9,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],9,[[0.-1.j]\n [0.+0.j]\n [0.+0.j]\n [0.+0.j]\n [...,0
10,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],10,[[0.+0.j]\n [0.+0.j]\n [0.+1.j]\n [0.+0.j]\n [...,0
11,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],11,[[0.+0.j]\n [0.+1.j]\n [0.+0.j]\n [0.+0.j]\n [...,0

Run a few times to get different Q values and compare the Q values for each state action pair

Set variables - these may need to be played about with more to find optimal values

In [31]:
alpha = 0.5 #how much we update Q for every new action
gamma = 0.9 #discount factor 

num_iter = 1
num_repeats = 4000
penalty = 0.2
steps = 5

In [39]:
final = pd.DataFrame()
tots1 = pd.DataFrame()
for iter in range(0,num_iter):
    table = together.copy()
    print(str(iter) + ' has begun')
    for repeats in range(0,num_repeats):
        psiold = psi3
        reward = 0
        for t in range(0,steps): #set the max number of steps taken
            reward += penalty #add more penalty with each step
        
            sec = table[table['string']==str(psiold)] #choose the part of the dataframe that contains the current state
        
            gather = pd.DataFrame()
            for n in range(0,(len(sec))): #iterate through the rows that contain the current state
                for z in range(0,len(list2)): # find the action associated with the state in each row
                    if(sec.iloc[n]['gate']== z):
                        apply = array(list2[z])
                        zed = z
                    
                psinew = apply.dot(psiold) #create new state by applying action
                
                
                news = table[table['string']==str(psinew)] #choose part of dataframe that contains the new state
            
                if len(news) == 0: #if the new state is not in the dataframe, insert it with all the possible actions
                    for s in range(0,len(list2)):
                        lad = list2[s].dot(psinew)
                        news = pd.DataFrame({'string' : str(psinew), 'gate':s, 'new':str(lad), 'Q':0}, index=[0])
                        table = table.append(news)
                    
                maxQ = max(news['Q']) #find the max Q value the new state
                gather = gather.append(news).drop_duplicates() #create a dataframe of all possible new states
                plus = 0
                if (probability(psiold, right)) == 1: #insert a reward if the new state is the one we want
                    plus = 1
                    
                table.loc[(table.string == str(psiold)) & (table.gate == zed), 'Q'] += alpha*((plus - reward) + gamma*(maxQ) - sec.iloc[n]['Q'])
                #update the Q value of the old state based on the rewards given by the new state
            if plus == 1: #If we have reached the state we want we can stop
                #print('goal reached')
                break
            else:
                top = gather.loc[(gather.Q == max(gather['Q']))] #collect the max Q value from all possible new states
                toparray =[] #sort these into an array with their associated action
                actarray =[]
                for o in range(0,len(top)):
                    for p in range(0,len(list2)):
                        if (str((array(list2[p])).dot(psiold)) == (top.iloc[o]['string'])):
                            toparray.append((array(list2[p])).dot(psiold))
                            actarray.append(p)
        
                garray =[] #create an array of all possible new states with associated actions
                actg = []
                for a in range(0,len(top)):
                    for b in range(0,len(list2)):
                        if (str((array(list2[b])).dot(psiold)) == (gather.iloc[a]['string'])):
                            garray.append((array(list2[b])).dot(psiold))
                            actg.append(b)
        
                q = randrange(100)
                if q > 90: #Create a percentage chance that the next state will be one with a max Q value (expoitation) or a state obtained from a random action (exploration)
                    r = randrange(len(toparray))
                    psiold = toparray[r]
                    action = actarray[r]
                else:
                    r = randrange(len(garray))
                    psiold = garray[r]
                    action = actg[r]
        
            #print(str(t) + 'th state is ' + str(psiold) + ' after action ' + str(action))
        #print(repeats 
    tots1 = tots1.append(table)
    oppa = table.loc[(table.string == str(psi3))]
    lol = oppa.sort_values("Q", ascending=False)
    top = lol.head(1)
    for n in [0, 1, 2]:
        
        oppa1 = table.loc[(table.string == top['new'].values[n])]
        lol = oppa1.sort_values("Q", ascending=False)
        top1 = lol.head(1)
        
        top = top.append(top1)
        #print(top1)
         
    final = final.append(top)
final.head(30)

0 has begun

,string,gate,new,Q
1322,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],2,[[1]\n [0]\n [0]\n [0]\n [0]\n [0]\n [1]\n [0]],-0.223452
1297,[[1]\n [0]\n [0]\n [0]\n [0]\n [0]\n [1]\n [0]],1,[[1]\n [0]\n [0]\n [0]\n [0]\n [0]\n [0]\n [1]],0.667187
1284,[[1]\n [0]\n [0]\n [0]\n [0]\n [0]\n [0]\n [1]],0,[[1]\n [0]\n [0]\n [0]\n [0]\n [0]\n [0]\n [1]],1.460209
1284,[[1]\n [0]\n [0]\n [0]\n [0]\n [0]\n [0]\n [1]],0,[[1]\n [0]\n [0]\n [0]\n [0]\n [0]\n [0]\n [1]],1.460209

In [40]:
together = tots1.groupby(['string','gate','new'])['Q'].mean().reset_index()

In [41]:
together[together['string'] == str(list2[0].dot(list2[0].dot(psi3)))]

,string,gate,new,Q
1320,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],0,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],-0.782051
1321,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],1,[[1]\n [0]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]],-1.523737
1322,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],2,[[1]\n [0]\n [0]\n [0]\n [0]\n [0]\n [1]\n [0]],-0.223452
1323,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],3,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],-0.899823
1324,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],4,[[0]\n [0]\n [1]\n [0]\n [0]\n [0]\n [1]\n [0]],-1.611457
1325,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],5,[[0]\n [1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]],-1.570237
1326,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],6,[[ 1]\n [ 0]\n [ 0]\n [ 0]\n [-1]\n [ 0]\n [ 0...,-1.567424
1327,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],7,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],-0.899823
1328,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],8,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],-0.899823
1329,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],9,[[0.-1.j]\n [0.+0.j]\n [0.+0.j]\n [0.+0.j]\n [...,-1.620862
1330,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],10,[[0.+0.j]\n [0.+0.j]\n [0.+1.j]\n [0.+0.j]\n [...,-1.536487
1331,[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]],11,[[0.+0.j]\n [0.+1.j]\n [0.+0.j]\n [0.+0.j]\n [...,-1.525237

In [45]:
tots1[tots1['string']==str(psi3)]
len(tots1)

5820

In [23]:
str(psi3)

'[[1]\n [0]\n [0]\n [0]\n [1]\n [0]\n [0]\n [0]]'